[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CRMetrics"]
	path = CRMetrics
	url = https://github.com/khodosevichlab/crmetrics
	shallow = true
	registered = true
